*{
    margin: 0;
    padding: 0;
}
header{
    background-color: brown;
}

body {

    font-family: 'Playfair Display', serif;
}
nav h2 {
    margin: 10px 20px;
    font-size: 40px;
}
.grid-container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}
.item-titulo{
    grid-column: 1 / 3;
    text-align: center;

    
}
.listas{
    display: inline;
    height: 20px;
    margin: 15px 10px;
    padding: 5px 10px;
}
.titulo{
    text-align: center;
    font-size: 35px;
    font-style: italic;
    text-decoration: underline
}
h1{
    text-align: center;
}
form{
    margin: 20px;
    height: 400px;
    width: 650px;
}
nav {
    display: flex;
    margin-top: 0;
    padding: 10px 10px;
    justify-content: center;
}
nav a {
    color: black;
}
.margen {
    padding: 0 15px;
}

.image {
    display: flex;
    justify-content: center;
}

section h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 35px;
    font-style: italic;
    text-decoration: underline;
}
.parrafo-column{
    margin: 40px 40px;
    font-size: 20px;
    text-align: center;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    -webkit-column-rule: 1px solid rgba(28,110,164,0.4);
    -moz-column-rule: 1px solid rgba(28,110,164,0.4);
    column-rule: 1px solid rgba(28,110,164,0.4);
}
h3 {
    font-size: 30px;
    text-align: center;

}
section article p {
    text-align: left;
    margin-bottom: 20px;
    margin-left: 60px;
    font-size: 20px; 
    width: 50%; 
}
.item-img{
    max-width: 75%;
    max-height: 80%;
}



@media (max-width: 767px) {
.parrafo-column{
    text-align: center;

    column-gap: unset;
    column-count: unset;
    -webkit-column-count: unset;
}
section picture {
    display: flex;
    justify-content: center;
    height: 50%; 
    max-width: 90%; 
}
.item-img{
    max-width: 150px;
    max-height: 200px;
}
.grid-container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
}

footer {
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
