* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: brown;
  padding: 1em;
}

h1, h2, h3 {
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  padding: 10px;
}
nav a {
  color: black;
}
nav ul{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav a.margen {
  padding: 0 15px;
}

.listas {
  display: inline;
  height: 20px;
  margin: 15px 10px;
  padding: 5px 10px;
}

.titulo {
  font-size: 35px;
  font-style: italic;
  text-align: center;
  text-decoration: underline;
}

.image {
  display: flex;
  justify-content: center;
}

section h2 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 35px;
  font-style: italic;
  text-decoration: underline;
}
section article p {
  text-align: left;
  margin-bottom: 20px;
  margin-left: 60px;
  font-size: 20px;
  width: 50%;
}

@media (max-width: 767px) {
  .parrafo-column {
    text-align: center;
    column-gap: unset;
    column-count: unset;
    -webkit-column-count: unset;
  }
  section picture {
    display: flex;
    justify-content: center;
    height: 50%;
    max-width: 90%;
  }
  section .item-img {
    max-width: 150px;
    max-height: 200px;
  }
  .grid-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  form {
    text-align: center;
    width: 100%;
    padding: 0px;
}
}
.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.item-titulo {
  grid-column: 1/3;
  text-align: center;
}

.parrafo-column {
  margin: 40px;
  font-size: 20px;
  text-align: center;
  column-count: 2;
  column-gap: 20px;
  column-rule: 1px solid rgba(28, 110, 164, 0.4);
}

h3 {
  font-size: 30px;
  text-align: center;
}

.item-img {
  max-width: 75%;
  max-height: 80%;
}

form {
  width: 70%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid brown;
  background-color: brown;
}
label {
  font-weight: bold;
  margin: 10px;
  display: block;
}

input[type="text"],
input[type="email"],
textarea {
  width: 80%;
  margin: 10px;
  padding: 12px 20px;
  margin-bottom: 20px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.texarea2 {
  padding: 50px 20px;
}

footer {
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

